# --- Python & OS ---
__pycache__/
*.py[cod]
.venv/
venv/
.DS_Store
Thumbs.db

# --- Datasets ---
datasets/
*.cache

# results 폴더 내부에 중복 생성된 weights 폴더 제외
results/**/weights/

# --- YOLO Training Artifacts (Bulky Images) ---
results/**/train_batch*.jpg
results/**/val_batch*.jpg

# --- 기타 ---
.vscode/
.idea/